body {
  background-color:AntiqueWhite;
text-align:center;
}
.city{

background-color: Tan;
  font-family: courier;
}
.note
{
  font-size: 300%;
}
.mark{
  border:1px solid;
  margin: 50px;

}